<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends "teacher/teacher index.html" %}
{% block body %}

<form action="/stud_list_view_post" method="post">
    <table class="table table-boarderless">
        <tr>
            <td >Semester
                <select name="Sem" id="Semester" class="form-control" required/>
                    <option> </option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </td>
            <td>
            <input type="submit"  value="Go" name="go" class="btn btn-primary" />
            </td>
        </tr>
    </table>


<table class="table table-hover">
  
  <tr>
        <th>SNo</th>
        <th>Register no.</th>
        <th>Name</th>
         <th>Email</th>
  </tr>

    {% for i in data %}
        <tr>
             <td width="50px">{{ loop.index }}&nbsp;</td>
             <td>&nbsp;{{ i['regno']}}</td>
             <td>&nbsp;{{ i['fname']}} {{ i['lname']}}</td>
             <td>{{ i['email']}}</td>
        </tr>
      {% endfor %}

    </form>
</table>
{% endblock %}