<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
<!--<form action="/admin_edit_dept_post" method="post">-->
<!--<table width="200" border="1">-->
<!--  <tr>-->
<!--    <td width="66">Dept<input type="hidden" name="dep_id" value="{{data['did'] }}"></td>-->
<!--    <td width="118">-->
<!--      <input type="text" name="editDept" id="textfield" value="{{ data['dname'] }}"/>-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td colspan="2">-->
<!--       />-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edit Department</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/common/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/common/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/common/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/common/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
                  <h3>EDIT Department</h3>
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" action="/admin_edit_dept_post" method="post">

<!--					<div class="wrap-input100 validate-input" data-validate = "Enter username">-->
<!--						<input class="input100" type="text" name="username" placeholder="User name">-->
<!--						<span class="focus-input100" data-placeholder="&#xe82a;"></span>-->
<!--					</div>-->

					<div class="wrap-input100" align="center">
                        <input type="hidden" name="dep_id" value="{{data['did'] }}">
                       <input type="text" name="editDept" id="textfield" value="{{ data['dname'] }}"/>
					</div>
					<div class="wrap-input100" align="center">
						 <input type="submit" name="edit" id="add" value="Edit" class="btn btn-primary" />
					</div>


				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="/static/common/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/common/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/common/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/common/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/common/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/common/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/common/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/common/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/common/js/main.js"></script>

</body>
</html>