<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<body>
<a href="/admin_add_dept">Add dept</a><br>
<a href="/add_subject">Add subject</a><br>
<a href="/admin_edit_sub/<sub_id>">edit sub</a><br>
<a href="/admin_edit_dept/<d_id>">edit dept</a><br>
<a href="/admin_assign_staff">assign staff</a><br>
<a href="/admin_dep_wise_staff">dep wise staff</a><br>
<a href="/Dept_view">Dept view</a><br>
<a href="/sub_view">view subject</a><br>
<a href="/view_allocated_staff">view allocated staff</a><br>
<a href="/adm_view_feedback">View Feedback</a>

</body>
</html>